<h1>app four works</h1>
<button (click)="myevent('this is click event')">CLICK ME</button>
<br>
<br>
<input type="text"  (keyup)="myevent('keyup')" />
<br>
<br>
<input type="text"  #box (keyup)="myevent(box.value)" />
<br>
<br>
<input type="text"  #box  (keyup.enter)="myevent(box.value)" />
<br>
<br>
<input type="text"  #box  (keyup.space)="myevent(box.value)" />
<br>
<br>
<input type="text"  #box  (keydown)="myevent(box.value)" />
<br>
<br>
<input type="text"   (blur)="myevent('blur event')" />
<br>
<br>
<div  (mouseover)="myevent('mouse in div')"
style="background-color: blue;"
>mouse event when mouse enters the div</div>
<br>
<div  (mouseleave)="myevent('mouse in div')"
style="background-color: blue;"
>mouse event when mouse leaves the div/div>